<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% for file in cssFiles %}
    <link rel="stylesheet" href="{{ file }}" />
    {% endfor %}
    <style type="text/css">
      {{ css | safe }}
    </style>
  </head>
  <body>
    <textarea id="source">{{ file.contents | safe }}</textarea>
    <script src="remark.js"></script>
    {% for file in scriptFiles %}
    <script src="{{ file }}"></script>
    {% endfor %}
    <script>
      window.slideshow = remark.create({{ remarkConfig | dump | safe }})
    </script>
    <script>
      {{ script | safe }}
      ;window.LiveReloadOptions = {
        host: 'localhost',
        port: '{{ livereloadPort }}'
      };
    </script>
  </body>
</html>
