body {
  font-family: 'Avenir Next', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'メイリオ', sans-serif;
}
h1, h2, h3 {
  font-weight: bold;
}
.remark-code,
.remark-inline-code {
  font-family: 'Menlo', 'Monaco', 'Courier new', monospace;
}

.remark-slide-content.inverse {
  color: #f3f3f3;
  background-color: #272822;
}
